.ank{
  margin-left: 0.8%;

}
.ankcolor{
  background-color: #17b978;
}
.ankClor{
  background-color: #17b978;
  color:#f7f7f7;
}
.jurAnk{
  margin-left:20%;
}

.carouHdn{
  font-size: 4.2rem;
  text-align: left;
  color:#d7fbe8;
  font-weight: bolder;

}
.carouText{
  text-align:left;
  color:#d7fbe8;
  font-size: 1.2rem;
}
.carouTextposition{
  position: absolute;
  top:15%;

  line-height: 2;
}
.ankFooter{
  color:#d7fbe8;
  background-color:#1fab89 ;
}
.ankFooterText{
  text-align: center;
  margin:0;
  padding-bottom: 10%;
  padding-top: 5%;
  font-size: 0.7rem;
}
.ankThanks{
  padding-top: 3%;
  font-family: 'DM Serif Text', serif;
  font-size: 1.5rem;
  margin-left: 15%;
}
